body {
  font-family: "Roboto", "sans-serif";
  color: white;
}

.header-background {
  background: url('bg.png') center center fixed;
  background-size: cover;
  height: 130px;
}

.header-design {
  position: absolute;
  bottom: 0.25px;
}

.green-menu-background {
  background-color: #162113;
  height: 65px;
}

.green-menu {
  position: relative;
  bottom: 15px;
  color: #a2d290;
}

.green-menu-left {
  position: relative;
  left: 35px;
}

.statistics-background {
  background: url('bg.png') center center fixed;
  background-size: cover;
  height: 300px;
  filter: brightness(100%);
  text-shadow: 2px 2px black;
}

.green-box-1 {
  background-color: #162113;
  margin: 40px;
  height: 265px;
  border: 1px #162113 ;
  position: relative;
  left: 30px;
  bottom: 10px;
  color: #a2d290;
}

.green-box-2 {
  background-color: #162113;
  margin: 40px;
  border: 1px #162113 ;
  position: relative;
  right: 30px;
  bottom: 10px;
  color: #a2d290;
}

.footer-design {
  position: relative;
  bottom: 1px;
}

.footer-end {
  background-color: #0a0f0a;
  height: 25px;
  position: relative;
  top: 60px;
}

.colorblocktop {
  padding-top: 20px;
}